.App {
  text-align: center;
  margin: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.dropdown.frontpage {
  margin-top: 20px;
  font-size: 18px;
  
}

.hierarchymain {
  display:flex;
  align-items:center;
  height:45px;
  background-color:#F3F3F3;
}


.hierarchymain .span1 {
  margin-left:12px;
  color:#0D0D0D;
  font-size:16px;
}

.hierarchymain .span2 {
  margin-left:10px;
  color:#777777;
  font-size:16px;
  font-style:italic;
}

.hierarchy {
  padding-top: 20px;
}

.ui.dropdown.frontpage .menu .item {
  line-height: 20px;
  font-size: 18px;
}


.ui.input.fill-in-blanks>input  {
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 2px;
  /*width: 100px;*/
}

.hierarchy {
  padding-top: 20px;
}

.hierarchymain {
  display:flex;
  align-items:center;
  height:45px;
  background-color:#F3F3F3;
}


.hierarchymain .span1 {
  margin-left:12px;
  color:#0D0D0D;
  font-size:16px;
}

.hierarchymain .span2 {
  margin-left:10px;
  color:#777777;
  font-size:16px;
  font-style:italic;
}

.hierarchymain2 {
  display:flex;
  align-items:center;
  height:45px;
  /*background-color:#F3F3F3;*/
}

.hierarchymain2 .span1 {
  margin-left:10px;
  color:#777777;
  font-size:16px;
  font-style:italic;
  text-decoration: underline;
}

.extrainfo {
  display:flex;
  align-items:center;
  height:45px;
}
.extrainfo .span1 {
  margin-left:10px;
  color:#777777;
  font-size:16px;
  font-style:italic;
  text-decoration: underline;
}

.extrainformation {
  /*display:flex;*/
  /*align-items:center;*/
  height:30px;
  margin-left:20px;
  color:#777777;
  font-size:16px;
}

.ui.inline.dropdown>.text {
  font-weight: 300;
   line-height: 0;

}


.ui.dropdown.frontpage {
  margin-top: 20px;
}

.ui.dropdown.frontpage .menu .item {
  line-height: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
